<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h3>Halo, Ini adalah API Konser</h3>
    <div>Daftar Endpoint API:</div>
    <table border="1">
      <thead>
        <tr>
          <td>Metode</td>
          <td>Endpoint</td>
          <td>Deskripsi</td>
        </tr>
      </thead>
      <tbody style="font-family: monospace">
        <tr>
          <td>GET</td>
          <td>/users</td>
          <td>Mengambil seluruh data dari tabel users.</td>
        </tr>
        <tr>
          <td>GET</td>
          <td>/users/:email</td>
          <td>Mengambil data dari tabel users berdasarkan email.</td>
        </tr>
        <tr>
          <td>GET</td>
          <td>/pengunjung</td>
          <td>Mengambil seluruh data dari tabel pengunjung.</td>
        </tr>
        <tr>
          <td>GET</td>
          <td>/pengunjung/:id</td>
          <td>Mengambil data dari tabel pengunjung berdasarkan id.</td>
        </tr>
        <tr>
          <td>GET</td>
          <td>/konser</td>
          <td>Mengambil seluruh data dari tabel konser.</td>
        </tr>
        <tr>
          <td>GET</td>
          <td>/konser/:id</td>
          <td>Mengambil data dari tabel konser berdasarkan id.</td>
        </tr>
        <tr>
          <td>GET</td>
          <td>/tiket</td>
          <td>Mengambil seluruh data dari tabel tiket.</td>
        </tr>
        <tr>
          <td>GET</td>
          <td>/tiket/:id</td>
          <td>Mengambil data dari tabel tiket berdasarkan id.</td>
        </tr>
        <tr>
          <td>POST</td>
          <td>/register</td>
          <td>Menambahkan user baru ke tabel users.</td>
        </tr>
        <tr>
          <td>POST</td>
          <td>/login</td>
          <td>Verifikasi user ke tabel users untuk mengakses API.</td>
        </tr>
        <tr>
          <td>POST</td>
          <td>/konser</td>
          <td>Menambahkan data baru ke tabel konser.</td>
        </tr>
        <tr>
          <td>PATCH</td>
          <td>/konser/:id</td>
          <td>
            Mengubah data dari tabel konser berdasarkan id serta mengubah data
            dari tabel tiket & pengunjung berdasarkan nama.
          </td>
        </tr>
        <tr>
          <td>PATCH</td>
          <td>/tiket/:id</td>
          <td>Mengubah data dari tabel tiket berdasarkan id.</td>
        </tr>
        <tr>
          <td>PATCH</td>
          <td>/order/:id</td>
          <td>
            Menambahkan data ke tabel pengunjung dan Mengubah data dari tabel
            tiket berdasarkan id.
          </td>
        </tr>
        <tr>
          <td>DELETE</td>
          <td>/logout</td>
          <td>Menghapus token dari tabel users berdasarkan token saat ini</td>
        </tr>
        <tr>
          <td>DELETE</td>
          <td>/pengunjung/:id</td>
          <td>Menghapus data dari tabel pengunjung berdasarkan id</td>
        </tr>
        <tr>
          <td>DELETE</td>
          <td>/konser/:id</td>
          <td>Menghapus data dari tabel konser berdasarkan id</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
